/* 체크박스 */
.label {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}
.checkBox {
    display: none;

    + em {
        background-color: var(--light-primary-assistive);
        height: 2rem;
        padding: 0 0.5rem;
        display: inline-flex;
        align-items: center;
        border-radius: 0.25rem;
        font-size: .875rem;
        color: var(--light-primary-normal);
        font-weight: 700;
        width: 2.5rem;
        justify-content: center;
        font-style:normal;
        
        &:before {
            content: "미완료";
        }
        + span {
            display: inline-block;
            vertical-align: middle;
            font-size: 1.25rem;
            line-height: 160%;
            color: var(--light-text-normal);
            margin-left: .25rem;
            font-weight: 500;
        }
    }
    
    &:checked + em {
    background: var(--light-primary-normal);
    border: var(--light-primary-normal);
        &:before {
            content: "완료";
            color: var(--white);
            // background-image: url("path/to/image.png");
            background-position: left center;
        }
    }
}