@charset "UTF-8";
/* 체크박스_1 */
.checkBox {
  display: none;
}
.checkBox + em {
  display: inline-block;
  vertical-align: middle;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 1rem;
  border: 2px solid var(--light-text-normal);
  position: relative;
  background-color: var(--white);
  cursor: pointer;
  box-sizing: border-box;
}
.checkBox + em:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: url("https://marosol-bucket-dev.s3.ap-northeast-2.amazonaws.com/0211color/checkbox_white.svg") no-repeat 50% 50%;
  opacity: 0;
  transition: all 0.3s ease;
  transform: scale(0.2);
}
.checkBox + em + span {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.25rem;
  line-height: 160%;
  color: var(--light-text-normal);
  margin-left: 0.25rem;
  font-weight: 500;
}
.checkBox:checked + em {
  background: var(--light-primary-normal);
  border: var(--light-primary-normal);
}
.checkBox:checked + em:before {
  opacity: 1;
  transform: scale(1);
}