@charset "UTF-8";
@import url("http://www.jjuns-c.com/webColor.css");
@import url("http://www.jjuns-c.com/webFont.css");
@import url("http://www.jjuns-c.com/webReset.css");
@import url(./header.css);
@import url(./body.css);
@import url(./footer.css);
@import url(./common.css);
@import url(./content.css);
@import url(./input.css);
@import url(./check.css);

.bodyImg {
    width: calc(100% /5 * 2);
}
.tit_bg{
	background-color: var(--light-primary-assistive);
}

.content_layout{
	width: 100%;
}

hr {
	margin: 2rem 0 1rem;
	border: 0;
	height: 1px;
	background-color: var(--light-line-strong);
}

span {
	color: var(--light-primary-normal);
}
label {
    margin-right: 2rem;
}


.checkOp {
	display: flex;
	gap: 2rem;
}

.detailtit {
    font-weight: 300;
    font-size: 3.5rem;
    color: var(--light-text-dlsable);
}
.detailtit>span {
    font-size: 3.5rem;
    color: var(--light-text-strong);
    background-image: linear-gradient(0, var(--light-primary-normal) 0%, var(--light-primary-normal) 100%);
    background-repeat: no-repeat;
    background-size: 100% 20%;
    background-position: 0 90%;
    transition: background-size 0.25s ease-in;
}
.detailtit>span:hover{
    background-size: 100% 100%;
    /* color: var(--light-primary-normal); */
}

.blogContents .title {
    font-weight: 700;
    font-size: 2rem;
    color: var(--light-text-strong);
}
.blogContents .author {
    font-weight: 300;
    font-size: 1rem;
    color: var(--light-text-assitive);
}

.blogContents .content {
	margin-top: 1rem;
	padding: 1rem .5rem;
	border-top: 2px solid var(--light-line-normal);
	font-weight: 500;
	min-height: 10rem;
	font-size: 1rem;
	color: var(--light-text-strong);
}

/* main home */
.content_layout ul {
	gap: 2rem;
	width: 100%;
	display: inline-flex;
}

.content_layout ul>li {
    width: calc(100%/3);
    text-align: center;
}

.content_layout ul>li>a {
    width: 100%;
    display: block;
    padding: 1rem 0;
    border-radius: 0.5rem;
    border: 2px solid var(--light-primary-normal);
    border-radius: 0.5rem;
    color: var(--light-primary-normal);
    text-decoration: none;
    font-size: 1.5rem;
	transition: all 0.3s ease;
}

.content_layout ul>li>a:hover {
	background-color: var(--light-primary-normal);
    color: var(--white);
}

.drtail_tit {
    /* display: flex; */
    font-weight: 300;
    font-size: 2rem;
    color: var(--light-text-dlsable);
    /* align-items: center; */
}
.drtail_tit>span {
    font-size: 2rem;
    color: var(--light-text-strong);
    background-image: linear-gradient(0, var--light-primary-normal) 0%, var--light-primary-normal) 100%);
    background-repeat: no-repeat;
    background-size: 100% 20%;
    background-position: 0 90%;
    transition: background-size 0.25s ease-in;
}
.price {
	font-size: 1rem;
	color: var(--light-text-assitive);
	padding: .25rem 1rem;
	background-color: var--light-primary-assistive);
}

.cartTotal {
	text-align: right;
    padding-right: 2rem;
    font-size: 1.5rem;
	font-weight: 300;
	color: var(--light-text-normal);
}
.cartTotal span {
	font-weight: 700;
	color: var(--light-text-normal);
	font-size: 1.5rem;
}

#sebButton {
	font-size: 1rem;
	height: 3rem;
	border-radius: .25rem;
	border: 0;
	border: 1px solid var(--light-primary-normal);
	background-color: var(--white);
	padding: 0 1rem;
	color: var(--light-primary-normal);
	transition: all 0.3s ease;
	font-weight: 700;
}

#sebButton:hover {
	background-color: var(--light-primary-normal);
	border: 1px solid var(--light-primary-normal);
	color: var(--white);
}

/* 상세페이지 */
.flex2x {
	display: flex;
	gap: 2rem;
}
.flex2x div {
	width: calc(100%/2);
}
img {
	width: 100%;
	border-radius: 0.5rem;
}

select {
	background-color: var(--light-background-primary);
    border-radius: 0.25rem;
    height: 3rem;
    padding: 0 1rem 0 1rem;
    border: 0;
    font-size: 1rem;
    width: 17rem;
    display: inline-block;
}