::selection {
	background: var(--light-primary-normal);
	color: var(--white);
}

* {
	box-sizing: border-box;
	word-break: keep-all;
}

html {
	overflow-y: scroll;
	background-color: var(--white);
}

body {
	margin: 0;
}

a,
a:hover,
a:active,
a:visited {
	color: var(--gray-900);
	text-decoration: none;
}
#root {
	display: flex;
	flex-direction: column;
	min-height: 120vh;
}
:root {
	--box-shadow: 5px 5px 10px 0 rgb(0 0 0 / 5%);
}

:global(#root) {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.nav,
.footer {
	flex: none;
}

.body {
	position: relative;
	flex-grow: 1;
}

.container {
	margin: 0 auto;
    max-width: 1180px;
    width: 100%;
}

.iconImg {
	width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
	border-radius: .5rem;
}
.iconImg:hover {
	background-color: var(--light-background-primary);
}
.iconImg img {
	width: 2rem
}